nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 48px 0 0 0;

  color: #ffffff;

  .nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: -32px;

    img {
      margin: 0 48px;
    }

    .dash {
      background-color: #979797;
      width: 100%;
      border: none;
      height: 1px;
      margin: 0;
      padding: 0;
      z-index: 1;
    }
  }

  .nav-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: hsla(0, 0, 100, 5%);
    backdrop-filter: blur(80px);
    height: 96px;
    width: 100%;
    padding: 0 64px;

    .nav-item-list {
      display: flex;
      justify-content: center;

      .nav-item-box {
        display: flex;
        color: white;
        flex-direction: column;

        .nav-item {
          display: flex;
          align-items: center;

          margin: 0 24px;
          height: 96px;

          .nav-mright {
            margin-right: 6px;
            font-weight: bold !important;
          }
          .navm-left {
            margin-left: 6px;
          }

          .remove-mright {
            margin-right: 0 !important;
          }
        }
      }
      .hover {
        background-color: white;
        display: block;
        height: 3px;
        position: relative;
        bottom: 1.5px;
        // opacity: 50%;
        margin: 0 24px;
      }
    }

    // .nav-item-list {
    //   display: flex;
    //   justify-content: flex-end;

    //   .nav-item {
    //     margin: 0 24px;
    //   }
    //   .nav-end {
    //     margin-right: 0 !important;
    //   }
    // }
  }
}
